# Configuración de Supabase
VITE_SUPABASE_URL=https://pjrarnwtidaizskvtuts.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqcmFybnd0aWRhaXpza3Z0dXRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2NDk4OTEsImV4cCI6MjEwNTIyNTg5MX0.zRQk74XAPT-LEh8BdEsaWUm9jutGl2WmLNY9t6uOAg0

# Configuración de Telegram Bot (Notificaciones de Reservas)
VITE_TELEGRAM_BOT_TOKEN=8607744921:AAE9ZoB89budUEkyEd_VUEix0v-sgEFW1Vk
VITE_TELEGRAM_CHAT_ID=-1004383504642
